/* src/app/globals.css */
@import "@appwrite.io/pink";
@import "@appwrite.io/pink-icons";

:root {
  /* Default Light Mode Colors */
  --color-neutral-50: #f8fafc;
  --color-neutral-900: #0f172a;
}


* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--color-neutral-50);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background: var(--color-neutral-900);
}

/* Allow other elements to transition smoothly too */
*,
*::before,
*::after {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}